#navbar {
  background-color: #101010;
  display: flex;
}

#home-search {
  width: 25rem;
  padding: 1rem;
  margin: 0.25rem;
  border: 2px solid black;
  border-radius: 5px;
  color: white;
}

.premium-signup-login {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  color: #868686;
  border: 2px solid black;
  border-radius: 5px;
  margin: 0.25rem;
  letter-spacing: 2px;
  font-size: 1.125rem;
}

.center-div {
  display: flex;
  position: relative;
  left: 18rem;
  height: 20px;
}

.center-div p {
  padding-left: 10px;
}

.premium:hover,
.support:hover,
.download:hover {
  color: white;
  cursor: pointer;
}
